// Default Styles
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font_default;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $color_default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_header;
    font-weight: 500;
}

p {
    margin-bottom: 15px;
}

$header_height: 60px;

.header-container {
    width: 100%;

    .header-nav {
        height: $header_height;
        background-color: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.7) -30%,
            rgba(0, 0, 0, 0) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        position: relative;

        .logo-container {
            .logo-link {
                width: 100%;
                height: 100%;
                display: block;

                img {
                    width: auto;
                    height: 32px;
                }
            }
        }
    }
}

#video-2beach-club {
    margin-top: -$header_height;
    width: 100%;

    video {
        width: 100%;
        height: auto;
    }
}

.special-heading {
    font-family: $font_header;
    color: $color_header;
    font-weight: 500;
    display: block;
}

.img-container {
    &.border {
        img {
            border: solid 10px #fff;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;

    a {
        display: inline-block;
        border-radius: 0;
        border: solid 4px #fff;
        box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
        padding: 0px 8px;
        font-size: 13px;
        line-height: 40px;
        text-decoration: none;
        font-family: $font_header;
    }

    &.contact-button {
        a {
            background-color: #3f9caa;
            color: #ffffff;
        }
    }
}

.page-footer {
    section {
        &.text {
            margin-bottom: 64px;

            p {
                font-family: $font_header;
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        &.copyright {
            margin-top: 15px;

            .img-container {
                width: 25%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 32px;

                /* or 359% */
                text-align: center;

                color: #3f9caa;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    body {
        font-size: 25px;
        line-height: 35px;
    }

    p {
        margin-bottom: 18px;
    }

    .header-container {
        max-height: 42vh;
    }

    .btn-container {
        margin-top: 42px;
        margin-bottom: 42px;

        a {
            font-size: 33px;
            line-height: 40px;
            padding: 10px 20px;
        }
    }

    .page-footer {
        section {
            &.text {
                p {
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            &.copyright {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
        line-height: 35px;
    }

    .header-container {
        height: 100vh;
        max-height: 100vh;

        .header-nav {
            height: 33vh;

            .logo-container {
                .logo-link {
                    img {
                        height: 130px;
                    }
                }
            }
        }
    }

    #video-2beach-club {
        margin-top: -33vh;
        overflow: hidden;

        video {
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: $bg_color;
        font-size: 25px;
        line-height: 35px;
    }

    .page-footer {
        margin-top: 64px;

        section {
            &.text {
                p {
                    font-size: 35px;
                    line-height: 100%;
                    color: #3f9caa;
                }
            }

            &.copyright {
                p {
                    font-size: 18px;
                    line-height: 32px;
                }

                .img-container {
                    width: unset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 24px;

                    img {
                        height: 75px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    //
}
