// Section 1
.section-1 {
    header {
        height: 146px;
        width: 100%;
    }

    main {
        margin-top: -32px;
        position: relative;
        z-index: 1;

        .first-text {
            width: 53%;
            position: absolute;
            right: 0;
            top: 70px;
            color: $color_header;
            font-size: 12px;
            line-height: 15px;
            padding-right: 10px;
        }

        .black-white img {
            width: 95%;
            margin-top: -36%;
        }

        .main-content {
            width: 95%;
            padding-left: 10px;
            padding-right: 10px;

            h2 {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 0px;
                margin-top: 24px;
            }
        }
    }

    .special-heading {
        position: relative;
        margin-left: 20px;
        margin-top: 32px;
        z-index: 10;

        .elt {
            position: absolute;
            line-height: 100%;
            text-transform: uppercase;

            // 2beach club by 2futures
            &:nth-child(1) {
                font-size: 14px;
                top: -5px;
                left: 0;
                text-transform: unset;
            }
            // Live
            &:nth-child(2) {
                font-size: 50px;
                top: 12px;
                left: 0;
            }
            // the
            &:nth-child(3) {
                font-size: 30px;
                top: 55px;
                left: 50px;
            }
            // 5
            &:nth-child(4) {
                font-size: 110px;
                top: -0;
                left: 108px;
            }
            // -star
            &:nth-child(5) {
                font-size: 43px;
                top: 54px;
                left: 168px;
            }
            // lifestyle
            &:nth-child(6) {
                font-size: 38px;
                top: 97px;
                left: 53px;
            }
            // everyday
            &:nth-child(7) {
                font-size: 25px;
                top: 130px;
                left: 155px;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .section-1 {
        display: block;
        background-color: $bg_color;
        padding-top: 32px;
        padding-bottom: 32px;

        header {
            min-height: 58vh;

            .special-heading {
                margin-top: unset;
                height: 55%;
                width: 90%;
                margin-left: auto;
                margin-top: 13px;
                margin-bottom: 45px;

                .elt {
                    &:nth-child(1) {
                        font-size: 29px;
                        line-height: 30px;
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(2) {
                        font-size: 110px;
                        top: 16px;
                        left: 0;
                    }

                    &:nth-child(3) {
                        font-size: 60px;
                        top: 112px;
                        left: 109px;
                    }

                    &:nth-child(4) {
                        font-size: 220px;
                        top: -10px;
                        left: 217px;
                    }

                    &:nth-child(5) {
                        font-size: 110px;
                        top: 83px;
                        left: 334px;
                    }

                    &:nth-child(6) {
                        font-size: 78px;
                        top: 179px;
                        left: 116px;
                    }

                    &:nth-child(7) {
                        font-size: 86px;
                        top: 243px;
                        left: 227px;
                    }
                }
            }
        }

        main {
            margin-top: -22vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .img-container {
                &:nth-child(1) {
                    order: 2;
                    margin-bottom: 48px;
                }

                &:nth-child(3) {
                    order: 4;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-top: unset;
                        width: 80%;
                        height: auto;
                    }
                }
            }

            .first-text {
                position: relative;
                top: unset;
                left: unset;
                right: unset;
                order: 1;
                font-size: 28px;
                line-height: 40px;
                margin-left: auto;
                margin-right: 7%;
                margin-bottom: 6vh;
                width: 68%;
            }

            .main-content {
                order: 3;
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    margin-top: unset;
                    margin-bottom: 24px;
                }

                p {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .header-container {
        width: 100%;
    }

    .section-1 {
        width: 100%;
        background-color: #fff;
        padding-bottom: 64px;

        header {
            width: 100%;
            min-height: unset;
            margin-top: 160px;

            .special-heading {
                width: 79%;
                height: 500px;

                .elt {
                    &:nth-child(1) {
                        font-size: 45px;
                        line-height: 100%;
                    }
                    &:nth-child(2) {
                        top: 24px;
                        font-size: 170px;
                    }
                    &:nth-child(3) {
                        top: 171px;
                        left: 165px;
                        font-size: 96px;
                    }
                    &:nth-child(4) {
                        top: -17px;
                        font-size: 365px;
                        left: 333px;
                    }
                    &:nth-child(5) {
                        left: 524px;
                        top: 144px;
                        font-size: 173px;
                    }
                    &:nth-child(6) {
                        font-size: 138px;
                        top: 281px;
                        left: 177px;
                    }
                    &:nth-child(7) {
                        top: 395px;
                        left: 531px;
                        font-size: 101px;
                    }
                }
            }
        }

        main {
            margin-top: 22px;

            .img-container {
                &:nth-child(1) {
                    width: 100%;
                    order: 1;
                }

                &:nth-child(3) {
                    img {
                        width: 100%;
                    }
                }

                &.black-white {
                    order: 4;
                    margin-top: -200px;
                }
            }

            .first-text {
                order: 2;
                position: absolute;
                top: 328px;
                right: 0;
                margin-right: 0;
                width: 62%;
                font-family: "DM Serif Display";

                p {
                    font-size: 27px;
                    line-height: 40px;
                    font-weight: 500;
                    margin-bottom: 0px;
                }
            }

            .main-content {
                order: 3;

                h2,
                p {
                    width: 464px;
                    margin-left: auto;
                    margin-right: auto;
                }

                h2 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .section-1 {
        width: 100%;
        background-color: #fff;

        header {
            width: 100%;
            min-height: unset;
            margin-top: 160px;

            .special-heading {
                width: 1080px;
                height: 500px;
                // background-color: rgba(250, 250, 185, 0.5);

                .elt {
                    &:nth-child(1) {
                        font-size: 45px;
                        line-height: 100%;
                    }
                    &:nth-child(2) {
                        top: 24px;
                        font-size: 170px;
                    }
                    &:nth-child(3) {
                        top: 171px;
                        left: 165px;
                        font-size: 96px;
                    }
                    &:nth-child(4) {
                        top: -17px;
                        font-size: 365px;
                        left: 333px;
                    }
                    &:nth-child(5) {
                        left: 524px;
                        top: 144px;
                        font-size: 173px;
                    }
                    &:nth-child(6) {
                        font-size: 138px;
                        top: 281px;
                        left: 177px;
                    }
                    &:nth-child(7) {
                        top: 395px;
                        left: 531px;
                        font-size: 101px;
                    }
                }
            }
        }

        main {
            margin-top: 22px;

            .img-container {
                &:nth-child(1) {
                    width: 100%;
                    order: 1;
                }

                &:nth-child(3) {
                    img {
                        width: 85%;
                    }
                }

                &.black-white {
                    order: 4;
                    margin-top: -200px;
                }
            }

            .first-text {
                order: 2;
                position: absolute;
                top: 328px;
                right: 0;
                margin-right: 0;
                width: 900px;
                font-family: "DM Serif Display";

                p {
                    font-size: 27px;
                    line-height: 40px;
                    font-weight: 500;
                    margin-bottom: 0px;
                }
            }

            .main-content {
                order: 3;

                h2,
                p {
                    width: 464px;
                    margin-left: auto;
                    margin-right: auto;
                }

                h2 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }
    }
}
