// Section 07: Events

.section-7 {
    background-color: $bg_color;
    padding-bottom: 32px;

    header {
        .special-heading {
            font-size: 85px;
            line-height: 120%;
            margin-bottom: 32px;
            padding-left: 10px;
        }
    }

    main {
        p {
            width: 80%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media screen and (min-width: 700px) {
    .section-7 {
        background-color: $bg_color;
        padding-top: 200px;

        header {
            .img-container {
                &:nth-child(1) {
                    display: block;
                    margin-bottom: 60px;
                    width: 100%;
                }
            }

            .special-heading {
                margin-bottom: 60px;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                padding: 0;
            }
        }

        main {
            p {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .section-7 {
        background-color: transparent;
        padding-top: 0;
        margin-top: -100px;
        position: relative;
        z-index: 20;

        header,
        main {
            width: 60%;
            margin-left: auto;
            margin-right: 10%;
        }

        header {
            .img-container {
                &:nth-child(1) {
                    img {
                        border: solid 10px #fff;
                    }
                }
            }

            .special-heading {
                width: 100%;
                margin-left: 0;
                font-size: 130px;
                line-height: 178px;
                margin-bottom: 18px;
            }
        }

        main {
            p {
                width: 100%;
                margin-left: 0;
            }
        }

        .btn-container.contact-button {
            margin-top: 90px;
            margin-bottom: 90px;
        }
    }
}
