// Section 08: Services

.section-8 {
    padding-bottom: 32px;

    header {
        display: flex;
        flex-wrap: wrap;

        .img-container {
            display: block;
            position: relative;

            &:nth-child(1) {
                width: 100%;
                order: 1;
                z-index: 10;
            }

            &:nth-child(2) {
                width: 45%;
                order: 3;
                margin-top: -10%;
                z-index: 20;

                img {
                    border-right: none;
                }
            }
        }

        .special-heading {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            font-size: 70px;
            line-height: 120%;
            width: 55%;
            order: 2;
            padding-left: 10px;

            .elt {
                display: block;

                &:nth-child(2) {
                    margin-top: -45%;
                }
            }
        }
    }

    main {
        margin-top: 32px;

        p {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media screen and (min-width: 700px) {
    .section-8 {
        header {
            .img-container {
                &:nth-child(1) {
                    width: 100%;
                    order: 1;
                }

                &:nth-child(2) {
                    width: 90%;
                    margin-left: auto;
                    margin-right: 5%;
                    order: 2;

                    img {
                        border-right: solid 10px #fff;
                    }
                }
            }

            .special-heading {
                order: 3;
                width: 70%;
                margin: 45px auto;
                padding: 0;
            }
        }

        main {
            p {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .section-8 {
        main {
            display: flex;
            flex-wrap: wrap;
            margin-top: -210px;
            position: relative;
            z-index: 10;

            .main-content {
                width: 45%;
                align-self: flex-end;

                .special-heading {
                    margin-bottom: 90px;
                    width: 88%;
                    margin-left: auto;
                    margin-right: auto;

                    .elt {
                        display: inline-block;

                        &:nth-child(1),
                        &:nth-child(2) {
                            font-size: 130px;
                            line-height: 178px;
                        }
                    }
                }

                p {
                    width: 88%;
                    margin-bottom: 24px;
                }

                .btn-container {
                    margin-top: 90px;
                    margin-bottom: 16px;
                }
            }

            .img-container {
                width: 55%;

                img {
                    width: 90%;
                    margin-right: auto;
                }
            }
        }
    }
}
