// Variables

$font_default: 'Antic Didone', serif;
$font_header: 'DM Serif Display', serif;
$font_footer: 'DM Sans', serif;

// color
$color_default: #003F57;
$color_header: #3F9CAA;
$color_footer: #3F9CAA;
$bg_header: rgba(0, 0, 0, .1);
$bg_color: rgba(196, 196, 196, 0.2);
