/*
* 2Beach Club stylesheet
* version: 1.1
*/

.font-antic-didone {
  font-family: "Antic Didone", serif !important;
}

.font-dm-sherif-display {
  font-family: "DM Serif Display", serif !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Antic Didone", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #003F57;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 500;
}

p {
  margin-bottom: 15px;
}

.header-container {
  width: 100%;
}

.header-container .header-nav {
  height: 60px;
  background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.7) -30%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
}

.header-container .header-nav .logo-container .logo-link {
  width: 100%;
  height: 100%;
  display: block;
}

.header-container .header-nav .logo-container .logo-link img {
  width: auto;
  height: 32px;
}

#video-2beach-club {
  margin-top: -60px;
  width: 100%;
  position: relative;
}

#video-2beach-club video {
  width: 100%;
  height: auto;
}

.special-heading {
  font-family: "DM Serif Display", serif;
  color: #3F9CAA;
  font-weight: 500;
  display: block;
}

.img-container.border img {
  border: solid 10px #fff;
}

.img-container img {
  width: 100%;
  height: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.btn-container a {
  display: inline-block;
  border-radius: 0;
  border: solid 4px #fff;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0px 8px;
  font-size: 10px;
  line-height: 40px;
  text-decoration: none;
  font-family: "DM Serif Display", serif;
  letter-spacing: 1px;
}

.btn-container.contact-button a {
  background-color: #3f9caa;
  color: #ffffff;
}

.page-footer section.text {
  margin-bottom: 64px;
}

.page-footer section.text p {
  font-family: "DM Serif Display", serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.page-footer section.text p a {
  color: #3c92f1;
}

.page-footer section.text p a:link,
.page-footer section.text p a:visited,
.page-footer section.text p a:active {
  color: #3c92f1;
}

.page-footer section.copyright {
  margin-top: 15px;
}

.page-footer section.copyright .img-container {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-footer section.copyright p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 32px;
  /* or 359% */
  text-align: center;
  color: #3f9caa;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 25px;
    line-height: 35px;
  }

  p {
    margin-bottom: 18px;
  }

  .header-container {
    max-height: 42vh;
  }

  .btn-container {
    margin-top: 42px;
    margin-bottom: 42px;
  }

  .btn-container a {
    font-size: 20px;
    line-height: 40px;
  }

  .page-footer {
    background-color: #fff;
  }

  .page-footer section.text p {
    font-size: 28px;
    line-height: 35px;
  }

  .page-footer section.copyright p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    line-height: 35px;
  }

  .header-container {
    height: 100vh;
    max-height: 100vh;
  }

  .header-container .header-nav {
    height: 33vh;
  }

  .header-container .header-nav .logo-container .logo-link img {
    height: 130px;
  }

  #video-2beach-club {
    margin-top: -33vh;
    overflow: hidden;
  }

  #video-2beach-club video {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: rgba(196, 196, 196, 0.2);
    font-size: 25px;
    line-height: 35px;
  }

  .page-footer {
    padding-top: 64px;
  }

  .page-footer section.text p {
    font-size: 28px;
    line-height: 120%;
    color: #3f9caa;
  }

  .page-footer section.copyright p {
    font-size: 18px;
    line-height: 32px;
  }

  .page-footer section.copyright .img-container {
    width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
  }

  .page-footer section.copyright .img-container img {
    height: 75px;
    width: auto;
  }

  .section {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

#video-sound {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  background-image: url(/images/sound-muted.svg?2d28b6beb1ba541aa4e503b4a9e414ea);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1000;
  filter: invert(1);
  transform: 0.8s;
  cursor: pointer;
}

#video-sound.unmuted {
  background-image: url(/images/sound-unmuted.svg?5b76366619a6cee817d896ae3177b4f5);
}

@media screen and (min-width: 700px) {
  #video-sound {
    height: 3rem;
    width: 3rem;
  }
}

.section-1 header {
  height: 146px;
  width: 100%;
}

.section-1 main {
  margin-top: -32px;
  position: relative;
  z-index: 1;
}

.section-1 main .first-text {
  width: 53%;
  position: absolute;
  right: 0;
  top: 70px;
  color: #3F9CAA;
  font-size: 12px;
  line-height: 15px;
  padding-right: 10px;
}

.section-1 main .black-white img {
  width: 95%;
  margin-top: -36%;
}

.section-1 main .main-content {
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}

.section-1 main .main-content h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0px;
  margin-top: 24px;
}

.section-1 .special-heading {
  position: relative;
  margin-left: 20px;
  margin-top: 32px;
  z-index: 10;
}

.section-1 .special-heading .elt {
  position: absolute;
  line-height: 100%;
  text-transform: uppercase;
}

.section-1 .special-heading .elt:nth-child(1) {
  font-size: 14px;
  top: -5px;
  left: 0;
  text-transform: unset;
}

.section-1 .special-heading .elt:nth-child(2) {
  font-size: 50px;
  top: 12px;
  left: 0;
}

.section-1 .special-heading .elt:nth-child(3) {
  font-size: 30px;
  top: 55px;
  left: 50px;
}

.section-1 .special-heading .elt:nth-child(4) {
  font-size: 110px;
  top: 0;
  left: 108px;
}

.section-1 .special-heading .elt:nth-child(5) {
  font-size: 43px;
  top: 54px;
  left: 168px;
}

.section-1 .special-heading .elt:nth-child(6) {
  font-size: 38px;
  top: 97px;
  left: 53px;
}

.section-1 .special-heading .elt:nth-child(7) {
  font-size: 25px;
  top: 130px;
  left: 155px;
}

@media screen and (min-width: 700px) {
  .section-1 {
    display: block;
    background-color: rgba(196, 196, 196, 0.2);
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .section-1 header {
    min-height: 58vh;
  }

  .section-1 header .special-heading {
    margin-top: unset;
    height: 55%;
    width: 90%;
    margin-left: auto;
    margin-top: 13px;
    margin-bottom: 45px;
  }

  .section-1 header .special-heading .elt:nth-child(1) {
    font-size: 29px;
    line-height: 30px;
    top: 0;
    left: 0;
  }

  .section-1 header .special-heading .elt:nth-child(2) {
    font-size: 110px;
    top: 16px;
    left: 0;
  }

  .section-1 header .special-heading .elt:nth-child(3) {
    font-size: 60px;
    top: 112px;
    left: 109px;
  }

  .section-1 header .special-heading .elt:nth-child(4) {
    font-size: 220px;
    top: -10px;
    left: 217px;
  }

  .section-1 header .special-heading .elt:nth-child(5) {
    font-size: 110px;
    top: 83px;
    left: 334px;
  }

  .section-1 header .special-heading .elt:nth-child(6) {
    font-size: 78px;
    top: 179px;
    left: 116px;
  }

  .section-1 header .special-heading .elt:nth-child(7) {
    font-size: 86px;
    top: 243px;
    left: 227px;
  }

  .section-1 main {
    margin-top: -22vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-1 main .img-container:nth-child(1) {
    order: 2;
    margin-bottom: 48px;
  }

  .section-1 main .img-container:nth-child(3) {
    order: 4;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-1 main .img-container:nth-child(3) img {
    margin-top: unset;
    width: 80%;
    height: auto;
  }

  .section-1 main .first-text {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    order: 1;
    font-size: 28px;
    line-height: 40px;
    margin-left: auto;
    margin-right: 7%;
    margin-bottom: 6vh;
    width: 68%;
  }

  .section-1 main .main-content {
    order: 3;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-1 main .main-content h2 {
    margin-top: unset;
    margin-bottom: 24px;
  }

  .section-1 main .main-content p {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 100%;
  }

  .section-1 {
    width: 100%;
    background-color: #fff;
    padding-bottom: 64px;
  }

  .section-1 header {
    width: 100%;
    min-height: unset;
    margin-top: 160px;
  }

  .section-1 header .special-heading {
    width: 79%;
    height: 500px;
  }

  .section-1 header .special-heading .elt:nth-child(1) {
    font-size: 45px;
    line-height: 100%;
  }

  .section-1 header .special-heading .elt:nth-child(2) {
    top: 24px;
    font-size: 170px;
  }

  .section-1 header .special-heading .elt:nth-child(3) {
    top: 171px;
    left: 165px;
    font-size: 96px;
  }

  .section-1 header .special-heading .elt:nth-child(4) {
    top: -17px;
    font-size: 365px;
    left: 333px;
  }

  .section-1 header .special-heading .elt:nth-child(5) {
    left: 524px;
    top: 144px;
    font-size: 173px;
  }

  .section-1 header .special-heading .elt:nth-child(6) {
    font-size: 138px;
    top: 281px;
    left: 177px;
  }

  .section-1 header .special-heading .elt:nth-child(7) {
    top: 395px;
    left: 531px;
    font-size: 101px;
  }

  .section-1 main {
    margin-top: 22px;
  }

  .section-1 main .img-container:nth-child(1) {
    width: 100%;
    order: 1;
  }

  .section-1 main .img-container:nth-child(3) img {
    width: 100%;
  }

  .section-1 main .img-container.black-white {
    order: 4;
    margin-top: -200px;
  }

  .section-1 main .first-text {
    order: 2;
    position: absolute;
    top: 328px;
    right: 0;
    margin-right: 0;
    width: 62%;
    font-family: "DM Serif Display";
  }

  .section-1 main .first-text p {
    font-size: 27px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .section-1 main .main-content {
    order: 3;
  }

  .section-1 main .main-content h2,
  .section-1 main .main-content p {
    width: 464px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-1 main .main-content h2 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .section-1 {
    width: 100%;
    background-color: #fff;
  }

  .section-1 header {
    width: 100%;
    min-height: unset;
    margin-top: 160px;
  }

  .section-1 header .special-heading {
    width: 1080px;
    height: 500px;
  }

  .section-1 header .special-heading .elt:nth-child(1) {
    font-size: 45px;
    line-height: 100%;
  }

  .section-1 header .special-heading .elt:nth-child(2) {
    top: 24px;
    font-size: 170px;
  }

  .section-1 header .special-heading .elt:nth-child(3) {
    top: 171px;
    left: 165px;
    font-size: 96px;
  }

  .section-1 header .special-heading .elt:nth-child(4) {
    top: -17px;
    font-size: 365px;
    left: 333px;
  }

  .section-1 header .special-heading .elt:nth-child(5) {
    left: 524px;
    top: 144px;
    font-size: 173px;
  }

  .section-1 header .special-heading .elt:nth-child(6) {
    font-size: 138px;
    top: 281px;
    left: 177px;
  }

  .section-1 header .special-heading .elt:nth-child(7) {
    top: 395px;
    left: 531px;
    font-size: 101px;
  }

  .section-1 main {
    margin-top: 22px;
  }

  .section-1 main .img-container:nth-child(1) {
    width: 100%;
    order: 1;
  }

  .section-1 main .img-container:nth-child(3) img {
    width: 85%;
  }

  .section-1 main .img-container.black-white {
    order: 4;
    margin-top: -200px;
  }

  .section-1 main .first-text {
    order: 2;
    position: absolute;
    top: 328px;
    right: 0;
    margin-right: 0;
    width: 900px;
    font-family: "DM Serif Display";
  }

  .section-1 main .first-text p {
    font-size: 27px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .section-1 main .main-content {
    order: 3;
  }

  .section-1 main .main-content h2,
  .section-1 main .main-content p {
    width: 464px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-1 main .main-content h2 {
    font-size: 25px;
    line-height: 35px;
  }
}

.section-2 {
  margin-top: 64px;
}

.section-2 header {
  padding-left: 10px;
}

.section-2 header .special-heading {
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px;
}

.section-2 header .special-heading .elt {
  display: block;
}

.section-2 header .special-heading .elt:nth-child(1) {
  font-size: 90px;
  line-height: 70px;
}

.section-2 header .special-heading .elt:nth-child(2) {
  font-size: 85px;
  line-height: 70px;
}

.section-2 header .special-heading .elt:nth-child(3) {
  font-size: 47px;
  line-height: 40px;
}

.section-2 header .img-container img {
  transform: scaleX(-1);
}

.section-2 main {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.section-2 main ul {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 20px;
}

.section-2 main h3 {
  margin-bottom: 15px;
}

@media screen and (min-width: 700px) {
  .section-2 {
    margin-top: unset;
  }

  .section-2 header {
    padding-left: unset;
  }

  .section-2 header .img-container img {
    transform: unset;
  }

  .section-2 main {
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .section-2 main .title-content {
    width: 45%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .section-2 main .title-content .special-heading {
    width: 80%;
  }

  .section-2 main .title-content .special-heading .elt {
    display: block;
    font-size: 90px;
    line-height: 70px;
  }

  .section-2 main .title-content .special-heading .elt:nth-child(4) {
    font-size: 45px;
  }

  .section-2 main .main-content {
    width: 50%;
    padding-left: 36px;
    padding-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .section-2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
  }

  .section-2 header,
  .section-2 main {
    width: 50%;
  }

  .section-2 header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-2 header .img-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-2 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: unset;
  }

  .section-2 main .title-content,
  .section-2 main .main-content {
    width: 100%;
    padding-left: unset;
  }

  .section-2 main .title-content .special-heading,
  .section-2 main .title-content h3,
  .section-2 main .title-content p,
  .section-2 main .title-content ul,
  .section-2 main .main-content .special-heading,
  .section-2 main .main-content h3,
  .section-2 main .main-content p,
  .section-2 main .main-content ul {
    padding-left: 32px;
  }

  .section-2 main .title-content h3,
  .section-2 main .title-content p,
  .section-2 main .title-content ul,
  .section-2 main .main-content h3,
  .section-2 main .main-content p,
  .section-2 main .main-content ul {
    margin-bottom: 28px;
  }

  .section-2 main .title-content {
    justify-content: start;
  }

  .section-2 main .title-content .special-heading {
    width: unset;
  }

  .section-2 main .title-content .special-heading .elt {
    display: inline;
    font-size: 100px;
  }

  .section-2 main .title-content .special-heading .elt:nth-child(4) {
    font-size: 78px;
    display: block;
  }

  .section-2 main .main-content h3 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 35px;
  }

  .section-2 main .main-content ul {
    padding-left: 64px;
    padding-right: 100px;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: unset;
  }

  .section-2 main .btn-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 134px;
  }
}

@media screen and (min-width: 1440px) {
  .section-2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
  }

  .section-2 header,
  .section-2 main {
    width: 50%;
  }

  .section-2 header {
    align-items: flex-start;
  }

  .section-2 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: unset;
    margin-bottom: unset;
  }

  .section-2 main .title-content,
  .section-2 main .main-content {
    width: 100%;
  }

  .section-2 main .title-content .special-heading,
  .section-2 main .title-content h3,
  .section-2 main .title-content p,
  .section-2 main .title-content ul,
  .section-2 main .main-content .special-heading,
  .section-2 main .main-content h3,
  .section-2 main .main-content p,
  .section-2 main .main-content ul {
    padding-left: 32px;
  }

  .section-2 main .title-content h3,
  .section-2 main .title-content p,
  .section-2 main .title-content ul,
  .section-2 main .main-content h3,
  .section-2 main .main-content p,
  .section-2 main .main-content ul {
    padding-right: 64px;
    margin-bottom: 28px;
  }

  .section-2 main .title-content {
    justify-content: start;
  }

  .section-2 main .title-content .special-heading {
    width: unset;
  }

  .section-2 main .title-content .special-heading .elt {
    display: inline;
    font-size: 110px;
  }

  .section-2 main .title-content .special-heading .elt:nth-child(4) {
    font-size: 78px;
    display: block;
  }

  .section-2 main .main-content h3 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 35px;
  }

  .section-2 main .main-content ul {
    padding-left: 64px;
    padding-right: 100px;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: unset;
  }

  .section-2 main .btn-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 134px;
  }
}

.section-3 {
  margin-top: 64px;
}

.section-3 header {
  width: 100%;
}

.section-3 header .img-container {
  display: block;
  position: relative;
}

.section-3 header .img-container:nth-child(1) {
  z-index: 5;
}

.section-3 header .img-container:nth-child(2) {
  width: 82%;
  margin-top: -20%;
  margin-left: auto;
  margin-right: 5%;
  z-index: 10;
}

.section-3 header .img-container:nth-child(3) {
  width: 80%;
  padding-left: 10px;
  margin-top: -20%;
  z-index: 5;
}

.section-3 header .special-heading {
  display: block;
  font-size: 110px;
  line-height: 54px;
  margin-top: 48px;
  margin-bottom: 48px;
  padding-left: 10px;
}

.section-3 header .special-heading .elt {
  display: block;
}

.section-3 header .special-heading .elt:nth-child(2) {
  font-size: 70px;
  margin-top: 14px;
}

.section-3 main p {
  width: 80%;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 700px) {
  .section-3 {
    background-color: rgba(196, 196, 196, 0.2);
    padding-bottom: 32px;
  }

  .section-3 header {
    position: relative;
  }

  .section-3 header .img-container:nth-child(1) {
    width: 100%;
    height: auto;
  }

  .section-3 header .img-container:nth-child(2) {
    margin-left: 5%;
    margin-right: auto;
  }

  .section-3 header .img-container:nth-child(3) {
    margin-left: auto;
    margin-right: 0;
  }

  .section-3 header .img-container:nth-child(3) img {
    border: solid 10px #fff;
    border-right: none;
  }

  .section-3 header .special-heading {
    position: absolute;
    color: #fff;
    top: 0;
    left: 10%;
    z-index: 100;
  }

  .section-3 header .special-heading .elt:nth-child(1) {
    font-size: 200px;
    line-height: 75%;
  }

  .section-3 header .special-heading .elt:nth-child(2) {
    font-size: 130px;
    line-height: 80%;
  }

  .section-3 main {
    margin-top: 45px;
  }

  .section-3 main p {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    padding-right: 120px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .section-3 {
    background-color: #fff;
    margin-top: unset;
    padding-top: 64px;
  }

  .section-3 header .special-heading {
    left: 50%;
    transform: translateX(-50%);
  }

  .section-3 header .special-heading .elt:nth-child(1) {
    font-size: 270px;
  }

  .section-3 header .special-heading .elt:nth-child(2) {
    font-size: 170px;
  }

  .section-3 header .img-container:nth-child(2) {
    width: 66%;
    margin-left: auto;
    margin-right: 19%;
    z-index: 5;
  }

  .section-3 main {
    width: 85%;
    margin-left: auto;
    margin-top: -158px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 20;
  }

  .section-3 main .main-text {
    width: 36%;
    align-self: flex-end;
    padding-right: 36px;
  }

  .section-3 main .main-text p {
    width: 100%;
    padding: 0;
  }

  .section-3 main .img-container {
    width: 64%;
  }

  .section-3 main .img-container img {
    border-right: none;
  }

  .section-3 main .btn-container {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .section-3 {
    background-color: #fff;
    margin-top: unset;
    padding-top: 64px;
  }

  .section-3 header .special-heading {
    left: 50%;
    transform: translateX(-50%);
  }

  .section-3 header .special-heading .elt:nth-child(1) {
    font-size: 270px;
  }

  .section-3 header .special-heading .elt:nth-child(2) {
    font-size: 170px;
  }

  .section-3 header .img-container:nth-child(2) {
    width: 56%;
    margin-left: auto;
    margin-right: 19%;
    z-index: 5;
  }

  .section-3 main {
    width: 75%;
    margin-left: auto;
    margin-top: -158px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 20;
  }

  .section-3 main .main-text {
    width: 36%;
    align-self: flex-end;
    padding-right: 36px;
  }

  .section-3 main .main-text p {
    width: 100%;
    padding: 0;
  }

  .section-3 main .img-container {
    width: 64%;
  }

  .section-3 main .img-container img {
    border-right: none;
  }

  .section-3 main .btn-container {
    width: 100%;
  }
}

.section-4 header .img-container {
  display: block;
}

.section-4 header .img-container:nth-child(1) {
  width: 100%;
}

.section-4 header .img-container:nth-child(2) {
  width: 90%;
  margin-right: auto;
  margin-left: 0px;
  margin-top: -20%;
}

.section-4 header h2 {
  margin: 48px 10px;
}

.section-4 header h2 .elt {
  display: block;
}

.section-4 header h2 .elt:nth-child(1) {
  font-size: 110px;
}

.section-4 header h2 .elt:nth-child(2) {
  font-size: 70px;
  margin-top: 40px;
}

.section-4 main p {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 700px) {
  .section-4 header .img-container:nth-child(1) {
    width: 100%;
    height: auto;
  }

  .section-4 header .img-container:nth-child(2) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 header h2.special-heading {
    display: block;
    margin-top: 32px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 header h2.special-heading .elt {
    display: inline-block;
    font-size: 110px;
    line-height: 100%;
  }

  .section-4 main p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-4 {
    padding-bottom: 64px;
    background-color: #fff;
  }

  .section-4 header .img-container {
    width: 100%;
  }

  .section-4 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: -190px;
  }

  .section-4 main .img-container,
  .section-4 main .main-text {
    width: 50%;
  }

  .section-4 main .img-container:nth-child(1) img {
    width: 105%;
  }

  .section-4 main .main-text {
    padding-left: 32px;
    align-self: flex-end;
  }

  .section-4 main .main-text .special-heading,
  .section-4 main .main-text p {
    padding-left: 0;
    padding-right: 0;
  }

  .section-4 main .main-text .special-heading,
  .section-4 main .main-text p,
  .section-4 main .main-text .btn-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 main .main-text .special-heading {
    margin-bottom: 32px;
  }

  .section-4 main .main-text .special-heading .elt {
    display: inline-block;
    font-size: 110px;
  }

  .section-4 main .main-text p {
    margin-bottom: 24px;
    padding-right: 64px;
  }

  .section-4 main .main-text p:nth-child(2) {
    font-weight: 600;
  }

  .section-4 main .main-text .btn-container {
    margin-top: 64px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .section-4 {
    padding-bottom: 64px;
    background-color: #fff;
  }

  .section-4 header .img-container {
    width: 100%;
  }

  .section-4 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: -190px;
  }

  .section-4 main .img-container,
  .section-4 main .main-text {
    width: 50%;
  }

  .section-4 main .main-text {
    padding-left: 32px;
    align-self: flex-end;
  }

  .section-4 main .main-text .special-heading,
  .section-4 main .main-text p {
    padding-left: 0;
    padding-right: 0;
  }

  .section-4 main .main-text .special-heading,
  .section-4 main .main-text p,
  .section-4 main .main-text .btn-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4 main .main-text .special-heading {
    margin-bottom: 32px;
  }

  .section-4 main .main-text .special-heading .elt {
    display: inline-block;
    font-size: 110px;
  }

  .section-4 main .main-text p {
    margin-bottom: 24px;
    padding-right: 64px;
  }

  .section-4 main .main-text p:nth-child(2) {
    font-weight: 600;
  }

  .section-4 main .main-text .btn-container {
    margin-top: 64px;
    margin-bottom: 16px;
  }
}

.section-5 {
  background-color: rgba(196, 196, 196, 0.2);
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-5 .img-container {
  display: block;
}

.section-5 header .special-heading {
  margin-bottom: 32px;
  padding-left: 10px;
}

.section-5 header .special-heading .elt {
  display: block;
  line-height: 80%;
}

.section-5 header .special-heading .elt:nth-child(1) {
  font-size: 110px;
}

.section-5 header .special-heading .elt:nth-child(2) {
  font-size: 110px;
  margin-top: -18px;
}

.section-5 header .special-heading .elt:nth-child(3) {
  font-size: 110px;
  margin-top: 2px;
}

.section-5 header .img-container {
  width: 100%;
  padding-left: 10px;
}

.section-5 main {
  width: 75%;
  margin-top: 32px;
  margin-left: 6%;
}

.section-5 main p {
  padding-left: 10px;
}

@media screen and (min-width: 700px) {
  .section-5 header {
    display: flex;
    flex-direction: column;
  }

  .section-5 header h2.special-heading {
    order: 2;
    width: 460px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .section-5 header h2.special-heading .elt {
    position: relative;
  }

  .section-5 header h2.special-heading .elt:nth-child(1) {
    font-size: 90px;
    top: 0;
    left: 0;
  }

  .section-5 header h2.special-heading .elt:nth-child(2) {
    font-size: 70px;
    top: 10px;
    left: 30px;
  }

  .section-5 header h2.special-heading .elt:nth-child(3) {
    font-size: 152px;
    top: -108px;
    left: 170px;
  }

  .section-5 header .img-container:nth-child(1) {
    order: 1;
    width: 100%;
    border-right: inherit;
  }

  .section-5 main {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .section-5 main p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section-5 {
    background-color: transparent;
    padding-top: 90px;
  }

  .section-5 main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: unset;
  }

  .section-5 main .main-text,
  .section-5 main .img-container {
    width: 50%;
  }

  .section-5 main .main-text {
    align-self: flex-end;
  }

  .section-5 .main-text .special-heading {
    position: relative;
    width: 580px;
    height: 152px;
    margin-left: 30px;
    margin-bottom: 24px;
  }

  .section-5 .main-text .special-heading .elt {
    position: absolute;
  }

  .section-5 .main-text .special-heading .elt:nth-child(1) {
    font-size: 120px;
    left: 0;
    top: 0;
  }

  .section-5 .main-text .special-heading .elt:nth-child(2) {
    font-size: 70px;
    top: 75px;
    left: 91px;
  }

  .section-5 .main-text .special-heading .elt:nth-child(3) {
    font-size: 176px;
    top: 39px;
    left: 228px;
  }

  .section-5 .main-text p {
    width: 88%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 34px;
    margin-right: auto;
  }

  .section-5 .btn-container {
    margin-top: 88px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .section-5 {
    background-color: transparent;
    padding-top: 90px;
  }

  .section-5 main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: unset;
  }

  .section-5 main .main-text,
  .section-5 main .img-container {
    width: 50%;
  }

  .section-5 main .main-text {
    align-self: flex-end;
  }

  .section-5 .main-text .special-heading {
    position: relative;
    width: 580px;
    height: 152px;
    margin-left: 30px;
    margin-bottom: 24px;
  }

  .section-5 .main-text .special-heading .elt {
    position: absolute;
  }

  .section-5 .main-text .special-heading .elt:nth-child(1) {
    font-size: 150px;
    left: 0;
    top: 0;
  }

  .section-5 .main-text .special-heading .elt:nth-child(2) {
    font-size: 97px;
    top: 75px;
    left: 91px;
  }

  .section-5 .main-text .special-heading .elt:nth-child(3) {
    font-size: 193px;
    top: 39px;
    left: 284px;
  }

  .section-5 .main-text p {
    width: 81%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 92px;
    margin-right: auto;
  }

  .section-5 .btn-container {
    margin-top: 120px;
    margin-bottom: 16px;
  }
}

.section-6 {
  background-color: rgba(196, 196, 196, 0.2);
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-6 header .special-heading {
  width: 80%;
  padding-left: 10px;
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
}

.section-6 header .special-heading .elt {
  display: block;
  font-size: 110px;
  line-height: 75%;
}

.section-6 header .special-heading .elt:nth-child(2) {
  font-size: 80px;
}

.section-6 header .img-container {
  display: block;
  position: relative;
}

.section-6 header .img-container:nth-child(1) {
  width: 70%;
  margin-left: auto;
  margin-right: 10%;
  z-index: 10;
}

.section-6 header .img-container:nth-child(2) {
  width: 80%;
  margin-right: auto;
  margin-top: -20%;
  z-index: 20;
}

.section-6 main p {
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 700px) {
  .section-6 header .img-container:nth-child(1) {
    width: 70%;
    margin-left: 0px;
    margin-right: auto;
  }

  .section-6 header .special-heading {
    width: 70%;
    margin: 60px auto;
    padding: 0;
  }

  .section-6 main p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .section-6 main p:nth-child(1) {
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .section-6 {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
  }

  .section-6 header,
  .section-6 main {
    width: 50%;
  }

  .section-6 header .img-container:nth-child(1) {
    width: 100%;
  }

  .section-6 main {
    align-self: flex-start;
    padding-left: 64px;
    padding-right: 0;
  }

  .section-6 main h2.special-heading {
    margin-top: 110px;
    margin-bottom: 90px;
    width: 72%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-6 main h2.special-heading .elt {
    display: block;
  }

  .section-6 main h2.special-heading .elt:nth-child(1) {
    font-size: 210px;
    line-height: 70%;
  }

  .section-6 main h2.special-heading .elt:nth-child(2) {
    font-size: 154px;
    line-height: 80%;
  }

  .section-6 main p {
    width: 72%;
    padding: 0;
  }

  .section-6 main p:nth-child(2) {
    font-weight: 600;
    margin-bottom: 64px;
  }
}

.section-7 {
  background-color: rgba(196, 196, 196, 0.2);
  padding-bottom: 32px;
}

.section-7 header .special-heading {
  font-size: 85px;
  line-height: 120%;
  margin-bottom: 32px;
  padding-left: 10px;
}

.section-7 main p {
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 700px) {
  .section-7 {
    background-color: rgba(196, 196, 196, 0.2);
    padding-top: 200px;
  }

  .section-7 header .img-container:nth-child(1) {
    display: block;
    margin-bottom: 60px;
    width: 100%;
  }

  .section-7 header .special-heading {
    margin-bottom: 60px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .section-7 main p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-7 {
    background-color: transparent;
    padding-top: 0;
    margin-top: -100px;
    position: relative;
    z-index: 20;
  }

  .section-7 header,
  .section-7 main {
    width: 60%;
    margin-left: auto;
    margin-right: 10%;
  }

  .section-7 header .img-container:nth-child(1) img {
    border: solid 10px #fff;
  }

  .section-7 header .special-heading {
    width: 100%;
    margin-left: 0;
    font-size: 130px;
    line-height: 178px;
    margin-bottom: 18px;
  }

  .section-7 main p {
    width: 100%;
    margin-left: 0;
  }

  .section-7 .btn-container.contact-button {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

.section-8 {
  padding-bottom: 32px;
  background-color: #fff;
}

.section-8 header {
  display: flex;
  flex-wrap: wrap;
}

.section-8 header .img-container {
  display: block;
  position: relative;
}

.section-8 header .img-container:nth-child(1) {
  width: 100%;
  order: 1;
  z-index: 10;
}

.section-8 header .img-container:nth-child(2) {
  width: 45%;
  order: 3;
  margin-top: -10%;
  z-index: 20;
}

.section-8 header .img-container:nth-child(2) img {
  border-right: none;
}

.section-8 header .special-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 70px;
  line-height: 120%;
  width: 55%;
  order: 2;
  padding-left: 10px;
}

.section-8 header .special-heading .elt {
  display: block;
}

.section-8 header .special-heading .elt:nth-child(2) {
  margin-top: -45%;
}

.section-8 main {
  margin-top: 32px;
}

.section-8 main p {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 700px) {
  .section-8 header .img-container:nth-child(1) {
    width: 100%;
    order: 1;
  }

  .section-8 header .img-container:nth-child(2) {
    width: 90%;
    margin-left: auto;
    margin-right: 5%;
    order: 2;
  }

  .section-8 header .img-container:nth-child(2) img {
    border-right: solid 10px #fff;
  }

  .section-8 header .special-heading {
    order: 3;
    width: 70%;
    margin: 45px auto;
    padding: 0;
  }

  .section-8 header .special-heading .elt {
    font-size: 120px;
  }

  .section-8 main p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-8 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: -210px;
    position: relative;
    z-index: 10;
  }

  .section-8 main .main-content {
    width: 45%;
    align-self: flex-end;
  }

  .section-8 main .main-content .special-heading {
    margin-bottom: 0px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-8 main .main-content .special-heading .elt {
    display: inline-block;
  }

  .section-8 main .main-content .special-heading .elt:nth-child(1),
  .section-8 main .main-content .special-heading .elt:nth-child(2) {
    font-size: 130px;
    line-height: 178px;
  }

  .section-8 main .main-content p {
    width: 88%;
    margin-bottom: 24px;
  }

  .section-8 main .main-content .btn-container {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  .section-8 main .img-container {
    width: 55%;
  }

  .section-8 main .img-container img {
    width: 100%;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .section-8 main {
    display: flex;
    flex-wrap: wrap;
    margin-top: -210px;
    position: relative;
    z-index: 10;
  }

  .section-8 main .main-content {
    width: 45%;
    align-self: flex-end;
  }

  .section-8 main .main-content .special-heading {
    margin-bottom: 90px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .section-8 main .main-content .special-heading .elt {
    display: inline-block;
  }

  .section-8 main .main-content .special-heading .elt:nth-child(1),
  .section-8 main .main-content .special-heading .elt:nth-child(2) {
    font-size: 130px;
    line-height: 178px;
  }

  .section-8 main .main-content p {
    width: 88%;
    margin-bottom: 24px;
  }

  .section-8 main .main-content .btn-container {
    margin-top: 90px;
    margin-bottom: 16px;
  }

  .section-8 main .img-container {
    width: 55%;
  }

  .section-8 main .img-container img {
    width: 90%;
    margin-right: auto;
  }
}

