/* Lazy load styles */

.lazy-load-image {
    width: 100%;
    height: auto;
    filter: blur(14px);
    transition: 1.2s;
    opacity: 0.4;
}

.lazy-load-image.loaded {
    width: auto;
    height: auto;
    filter: blur(0px);
    opacity: 1;
}
