/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery a {
    display: inline-block;
    margin: 5px;
}

.gallery img {
    width: 150px;
    /* Ajustez selon votre besoin */
    height: auto;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Styles pour le gallery-modal (plein écran) */
.gallery-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gallery-modal img {
    max-width: 90%;
    max-height: 90%;
}

.gallery-modal .prev,
.gallery-modal .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.gallery-modal .prev {
    left: 20px;
}

.gallery-modal .next {
    right: 20px;
}
